body{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  font-size: .12rem;
}
.header{
  height: .4rem;
  text-align: center;
  line-height: .4rem;
  position: relative;
  h3{
    font-weight: normal;
    font-size: .18rem;
  }
  i{
    position: absolute;
    left: .1rem;
    font-size: .28rem;
    line-height: .4rem;
  }
}
.section{
  -webkit-flex: 1;
  overflow-y: scroll;
  background: #f8f8f8;
}
.section .search {
  padding: .1rem;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #efefef;
  margin-bottom: .1rem;
  p{
    width: 2.6rem;
    height: .3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    line-height: .3rem;
    background: #f3f3f3;
    padding-left: .2rem;
    input {
      height: .2rem;
      background: #f3f3f3;
      border: 1px solid #f3f3f3;
    }
  }
}
.title{
  margin-bottom: .1rem;
  position: relative;
  padding: .15rem;
  background: #fff;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  span{
    font-size: .16rem;
    color: #4c4c4c;
    a{
      color: #999;
    }
    &:nth-child(2){
      font-size: .12rem;
      color: #999;
      position: absolute;
      right: .1rem;
      .fa{
        font-weight: normal;
        margin-left: .05rem;
      }
    }
    i{
      margin-right: .1rem;
      color:dodgerblue;
      font-size: .18rem;
    }
  }
}
.section .project{
  border-top: 1px solid #efefef;
  background: #fff;
  margin-bottom: .1rem;
  .one,.two{
    display: -webkit-flex;
    border-bottom: 1px solid #efefef;
    dl{
      text-align: center;
      -webkit-flex: 1;
      border-right: 1px solid #efefef;
      dt{
        padding: .1rem .2rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      dd{
        margin-bottom: .1rem;
      }
      &:last-child{
        border: none;
      }
    }
  }
}
.section .bing{
  background: #fff;
  border-bottom: 1px solid #efefef;
  margin-bottom: .1rem;
  p{
    padding: .1rem;
    span{
      padding: .03rem .08rem;
      border: 1px solid #dce0e1;
      background: #f4f9ff;
      border-radius: 20px;
      line-height: .35rem;
      margin-right: .05rem;
      color: #8d9ea6;
    }
  }
  ul{
    display: -webkit-flex;
    height: .4rem;
    padding: 0 .1rem;
    border-bottom: 1px solid #efefef;
    li{
      line-height: .4rem;
      -webkit-flex: 1;
      text-align: center;
      color: #767676;
    }
    .active{
      color: #4c70c8;
      border-bottom: 2px solid #4c70c8;
    }
  }
}
.section .swiper-container{
  height: .79rem;
  width: 100%;
  margin-bottom: .1rem;
  img{
    width: 100%;
    height: 100%;
  }
}
.section .list{
  background: #fff;
  span{
    font-size: .14rem;
    padding:.1rem;
    line-height: .3rem;
  }
  .body-clear{
    height: .8rem;
    dl{
      display: -webkit-flex;
      padding: .1rem;
      background: #fff;
      border-bottom: 1px solid #efefef;
      dt{
        width: .8rem;
        height: .7rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      dd{
        margin-left: .1rem;
        p{
          font-size: .1rem;
          span{
            color: #999;
            padding:0;
            font-size: .1rem;
            margin-left: .05rem;s
          }
          &:nth-child(1){
            font-size: .14rem;
            font-weight: bold;
          }
          &:nth-child(2){
            color: #999;
            margin-top: .05rem;
          }
        }
      }
    }
  }
}


.footer{
  height: .5rem;
  border-top: 1px solid #ccc;
  display: -webkit-flex;
  p{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex: 1;
    align-items: center;
    justify-content: center;
    span{
      color: #999;
      &:nth-child(1){
        font-size: .2rem;
        margin-bottom: .05rem;
      }
    }
  }
  .current span{
    color: dodgerblue;
  }
}